<h1>Remove or add a item from your cart</h1>

<form action="/api/cart" method="PUT" class="form-example">

      <label for="name">the item that you want to change in your cart</label>
      <input type="text" name="name" id="name" required />

      <input type="submit" value="add a new item to your cart!" />

  </form>

