<!DOCTYPE html>
<html>
<head>
    <title>Add an Item to Your Cart</title>
</head>
<body>

<h1>Remove or Add an Item to Your Cart</h1>

<form action="/api/cart" method="PUT" class="form-example">
    <label for="name">Enter the item you want to add to your cart:</label>
    <input type="text" name="name" id="name" required />

    <input type="submit" value="Add a New Item to Your Cart" />
</form>

</body>
</html>
