<h1>Update Items In Your Cart</h1>

<form action="/api/Cart" method="PUT" class="form-example">

      <label for="name">The Item In Your Cart You Want To Change </label>
      <input type="text" name="name" id="name" required />

      <input type="submit" value="add a new Hat!" />

  </form>